<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Render</title>
  <!-- public component -->
  <link rel="icon" href="/saltedfish.png">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/customize.css">
  <script type="text/javascript" src="/js/libs/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.cookie-1.4.1.min.js"></script>
  <script type="text/javascript" src="/js/TemplateStyle.js"></script>
  <script type="text/javascript" src="/js/CookiesManager.js"></script>
  <script type="text/javascript" src="/js/ResponsiveAction.js"></script>
  <script type="text/javascript" src="/js/BookDetail.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="fishnav"></nav>

  <div class="card border-primary mb-3 book-detail" style="min-width: 45rem;" id="bookBody">
    <div class="card-header">Render title</div>
    <div class="card-body">
      <h4 class="card-title">Render subtitle</h4>
      <p class="card-text">Render des</p>
    </div>
  </div>
  <ul class="list-group book-detail" style="max-width: 30rem;">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Available
      <span class="badge bg-primary rounded-pill text-success" id="availCount">Render</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Pending
      <span class="badge bg-primary rounded-pill text-info" id="pendingCount">Render</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Borrowed
      <span class="badge bg-primary rounded-pill text-danger" id="borrowedCount">Render</span>
    </li>
  </ul>
  <button type="button" class="btn btn-secondary book-detail" data-bs-toggle="tooltip" data-bs-placement="top"
          onclick="addReadPlan()" id="addReadPlan">Add to read plans</button>
  <button type="button" class="btn btn-secondary book-detail" data-bs-toggle="tooltip" data-bs-placement="top"
          onclick="reserveBook('')" id="reserve">Reserve</button>
</body>
</html>