<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Books</title>
  <!-- public component -->
  <link rel="icon" href="/saltedfish.png">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/customize.css">
  <script type="text/javascript" src="/js/libs/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.cookie-1.4.1.min.js"></script>
  <script type="text/javascript" src="/js/TemplateStyle.js"></script>
  <script type="text/javascript" src="/js/CookiesManager.js"></script>
  <script type="text/javascript" src="/js/ResponsiveAction.js"></script>
  <script type="text/javascript" src="/js/BookScript.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="fishnav"></nav>

  <div style="padding:1rem">
  <form class="d-flex" action="/searchBook">
    <input class="form-control me-sm-2" id="queryText1" type="text" placeholder="Type any keywords">
    <button class="btn btn-secondary my-2 my-sm-0" type="button" onclick="getSearch($('#queryText1').val())">Search</button>
  </form>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Title</th><th scope="col">Author</th><th scope="col">Stock</th>
    </tr>
    </thead>
    <tbody id="bookListBody">
    <tr class="table-primary" onclick="tableInnerLink('@title')">
      <th scope="row">render</th><td>render</td><td>render</td>
    </tr>
    </tbody>
  </table>
    <div id="pagebar"></div>
    <div class="form-group" style="max-width: 5rem">
      <label for="exampleSelect1" class="form-label mt-4">Row per page</label>
      <select class="form-select" id="exampleSelect1" onchange="changeShownRow(this.value)">
        <option>10</option>
        <option>20</option>
        <option>50</option>
      </select>
    </div>
  </div>
</body>
</html>