<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.example.demo.dao.UsersDao">

<!--    <select id="getUserList" resultType="com.example.demo.pojo.Users">-->
<!--        select * from libsystem.Users-->
<!--    </select>-->
<!--    <insert id="userRegister" parameterType="com.example.demo.pojo.Users" >-->
<!--        insert INTO users(Nickname,Password,Email)-->
<!--        values(#{Nickname},#{Password},#{Email})-->
<!--    </insert>-->

</mapper>
