<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/libs/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.qrcode.min.js"></script>
</head>
<body>
<input type="text" id="bookid" />
<input type="button" onclick="genQR($('#bookid').val())" value="generator"><br>
<div id="qr"></div>

</body>
<script>
    function genQR(bid) {
        const qr = $("#qr")
        qr.html("")
        qr.qrcode({
            render: "canvas",
            text: "b" + (Number(bid) * 42 + 414),
            background: "#ffffff",
            foreground: "#000000",
            src: '../saltedfish.png'
        });
    }
</script>
</html>