<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Salted Fish</title>
  <!-- public component -->
  <link rel="icon" href="/saltedfish.png">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/customize.css">
  <script type="text/javascript" src="/js/libs/jquery-3.6.1.min.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.cookie-1.4.1.min.js"></script>
  <script type="text/javascript" src="/js/TemplateStyle.js"></script>
  <script type="text/javascript" src="/js/CookiesManager.js"></script>
  <script type="text/javascript" src="/js/ResponsiveAction.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="fishnav">

  </nav>
  <br> <!-- navi is public -->
  <h1>What's New</h1>
  <div id="news" class="index-content">
    <div class="card mb-3">
      <h3 class="card-header">Library News</h3>
      <div class="card-body">
        <h5 class="card-title">The salted fish man was witnessed yesterday</h5>
        <h6 class="card-subtitle text-muted">A witness saw salted fish man was reading on the seat</h6>
      </div>
      <img src="/fish.png" style="width: 100%; height: 200px" />
<!--      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">-->
<!--        <rect width="100%" height="100%" fill="#868e96"></rect>-->
<!--        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>-->
<!--      </svg>-->
      <div class="card-body">
        <p class="card-text">When the present report was being finalized,
          the police investigation was ongoing and the details are yet to be disclosed. <br> ...</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Read more</a>
      </div>
      <div class="card-footer text-muted">2022-11-32</div>
    </div>

    <div class="card mb-3">
      <h3 class="card-header">Weekly Theme</h3>
      <div class="card-body">
        <h5 class="card-title">Fishing</h5>
        <h6 class="card-subtitle text-muted">Go finishing</h6>
      </div>
      <img src="/finshingbook.png" style="width: 100%; height: 200px" />
<!--      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">-->
<!--        <rect width="100%" height="100%" fill="#868e96"></rect>-->
<!--        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>-->
<!--      </svg>-->
      <div class="card-body">
        <p class="card-text">When the present report was being finalized,
          the police investigation was ongoing and the details are yet to be disclosed. <br> ...</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Add all to read plan</a>
        <a href="#" class="card-link">Read more</a>
      </div>
      <div class="card-footer text-muted">2022-11-32</div>
    </div>

    <div class="card mb-3">
      <h3 class="card-header">Library News</h3>
      <div class="card-body">
        <h5 class="card-title">The salted fish man was witnessed yesterday</h5>
        <h6 class="card-subtitle text-muted">A witness saw salted fish man was reading on the seat</h6>
      </div>
      <img src="/fish2.png" style="width: 100%; height: 200px" />
<!--      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">-->
<!--        <rect width="100%" height="100%" fill="#868e96"></rect>-->
<!--        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>-->
<!--      </svg>-->
      <div class="card-body">
        <p class="card-text">When the present report was being finalized,
          the police investigation was ongoing and the details are yet to be disclosed. <br> ...</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Read more</a>
      </div>
      <div class="card-footer text-muted">2022-11-32</div>
    </div>
  </div>
  <h1>Recommendation</h1>
  <div id="recommend" class="index-content">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Book title</h5>
        <h6 class="card-subtitle text-muted">subtitle</h6>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
      </svg>
      <div class="card-body">
        <p class="card-text">When the present report was being finalized,
          the police investigation was ongoing and the details are yet to be disclosed. <br> ...</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Add to read plan</a>
        <a href="#" class="card-link">Reserve</a>
      </div>
      <div class="card-footer text-muted">2022-11-32</div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Book title</h5>
        <h6 class="card-subtitle text-muted">subtitle</h6>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
      </svg>
      <div class="card-body">
        <p class="card-text">When the present report was being finalized,
          the police investigation was ongoing and the details are yet to be disclosed. <br> ...</p>
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Add to read plan</a>
        <a href="#" class="card-link">Reserve</a>
      </div>
      <div class="card-footer text-muted">2022-11-32</div>
    </div>
  </div>
  <hr>
  <footer id="footer">
  </footer>
</body>
</html>